@import url("font-awesome.min.css");
body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}
.footer_thankyou {
	text-align: right;
	margin-left: 20px; 
  }
.radio-group {
  display: flex;
  gap: 10px; 
  align-items: center; 
}
#correoContainer {
  display: none;
}
/* Centrar el modal verticalmente */
.modal-dialog {
  display: flex;
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Hacer que el contenedor del modal ocupe toda la altura de la pantalla */
}

/* Estilo opcional para el contenido del modal */
.modal-content {
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

/* Ajustar el ancho del modal en pantallas pequeñas */
@media (max-width: 576px) {
  .modal-dialog {
      width: 90%; /* Ancho del modal en pantallas pequeñas */
      margin: 0; /* Eliminar márgenes */
  }
}


input[type="radio"] {
  margin-right: 5px; 
}


.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.heading_container h2::before {
  content: "";
  width: 40px;
  height: 7px;
  background-color: #e62081;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.heading_container.heading_center {
  margin-top: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading_container.heading_center h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*header section*/
.hero_area {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: cente50
}
.custom-btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap; 
  transition: background-color 0.3s ease;
}
.radio-label {
  display: flex;
  align-items: center;
}

.option-image {
  width: 100px;
  height: 150px;
  margin-right: 10px;
}


.hero_bg_box .img-box {
  width: 100%;
}

.hero_bg_box .img-box img {
  min-width: 100%;
  min-height: 100%;
}

.hero_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.8)),
    to(rgba(0, 0, 0, 0.35))
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.35)
  );
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page
  .custom_nav-container.navbar-expand-lg
  .navbar-nav
  .nav-item
  .nav-link {
  padding-bottom: 21px;
}

.hero_area.sub_pages {
  height: auto;
}

.image-container {
  position: relative; 
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;
  overflow: hidden;
}

.imagen_centrada {
  width: 100%;           
  height: 50dvh;          
  object-fit: cover;
  filter: blur(5px) brightness(60%);
}

.imagen_centrada_sin_filtro {
  width: 100%;           
  height: 60dvh;          
  object-fit: cover;
}

.image-title {
  position: absolute;     
  top: 50%;               
  left: 50%;              
  transform: translate(-50%, -50%); 
  color: white;           
  font-size: 3em;         
  text-align: center;     
  font-weight: bold;      
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.image-title2 {
  position: absolute;     
  top: 35%;               
  left: 68%;              
  transform: translate(-70%, -50%); 
  color: white;           
  font-size: 3.5em;         
  text-align: center;     
  font-weight: bold;      
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.image-title3 {
  position: absolute;               
  top: calc(50% + 40px);         
  left: 64%;                     
  transform: translateX(-50%);   
  font-size: 2em;                
  color: #f0f0f0;                
  text-align: center;            
  margin: 0;                     
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  font-weight: 300;              
  letter-spacing: 1px;           
  padding: 0 10px;              
}


.image-title3 {
  position: absolute;               
  top: calc(50% + 40px);         
  left: 64%;                     
  transform: translateX(-50%);   
  font-size: 2em;                
  color: #f0f0f0;                
  text-align: center;            
  margin: 0;                     
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
  font-weight: 300;              
  letter-spacing: 1px;           
  padding: 0 10px;
  margin-bottom: 1.5rem;              
}
.text-overlay {
  position: absolute;
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Ajustar para centrar exacto */
  text-align: center;
  color: white;
  width: 80%; /* Controla el ancho del texto */
}

@media (max-width: 768px) {
  .image-title2 {
    font-size: 2rem; /* Reduce tamaño del texto */
  }
  .image-title3 {
    font-size: 1rem; /* Reduce tamaño del texto */
  }
  .text-overlay {
    width: 90%; /* Más ancho en pantallas pequeñas */
  }
}

/* Ajustes para pantallas muy grandes */
@media (min-width: 1200px) {
  .image-title2 {
    font-size: 4rem; /* Agranda texto en pantallas grandes */
  }
  .image-title3 {
    font-size: 2rem;
  }
}


.heading_container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
    text-align: center; 
}

.heading_container2 h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.heading_container2 h2::before {
  content: "";
    width: 40px;
    height: 7px;
    background-color: #e62081;
    border-radius: 10px;
    position: absolute;
    bottom: -10px; 
    left: 50%; 
    transform: translateX(-50%);
}


.tab-menu {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%; 
}

.tab-button {
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
  width: 200px; 
  position: relative;
  display: inline-block;

  background-color: #cccccc; /* Fondo gris cuando no está activo */
  color: #000000; /* Texto rojo cuando no está activo */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none; /* Eliminado el borde */
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px; 

}

.tab-button::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e62081;
  position: absolute;
  bottom: -10px; 
  left: 50%;
  transform: translateX(-50%);
  display: none; 
}

.tab-button.active::after {
  display: block; 
}

.tab-button:hover {
  background-color: #cccccc; /* Color más oscuro para el hover */
  color: #ffffff; /* Texto blanco al hacer hover */
}

.tab-button.active {
  background-color: #e62081; /* Fondo rojo cuando está activo */
  color: #ffffff; /* Texto blanco cuando está activo */
  border: none; /* Eliminado el borde negro cuando está activo */
  outline: none;
}

@media (max-width: 768px) {
  .tab-button {
    font-size: 0.9rem; /* Reduce el tamaño del texto */
    padding: 8px 15px; /* Reduce el espaciado */
  }

  .tab-menu {
    gap: 5px; /* Reduce el espacio entre botones */
  }
}

@media (max-width: 480px) {
  .tab-menu {
    flex-direction: column; /* Cambia la alineación a vertical */
    align-items: center; /* Centra los botones en la columna */
    gap: 10px; /* Espacio más uniforme en pantallas pequeñas */
  }

  .tab-button {
    width: 100%; /* Los botones ocupan el ancho completo */
    text-align: center; /* Texto centrado */
  }
}



.header_section {
  padding: 0;
  background-color: #ffffff;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_section img {
  max-height: 50px; 
  width: auto;
}

.header_top {
  background-color: #1c1c1c;
  padding: 15px 0;
}

.header_top .contact_link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header_top .contact_link-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-size: 15px;
}

.header_top .contact_link-container a i {
  font-size: 20px;
  color: #e62081;
  margin-right: 5px;
}

#navbarSupportedContent {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 0;
  padding: 35px 15px 10px 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  background-color: #e71e83;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand span {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .detail-box {
  width: 100%;
  margin: 0 auto;
}

.slider_section .detail-box h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
}

.slider_section .detail-box h1 span {
  color: #e62081;
}

.slider_section .detail-box p {
  margin-top: 25px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.slider_section .detail-box .btn-box a {
  width: 180px;
  text-align: center;
  margin: 5px;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 35px;
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 35px;
  background-color: #e62081;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.slider_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  border-color: #e62081;
  color: #e62081;
}

.slider_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .idicator_container {
  position: relative;
}

.slider_section ol.carousel-indicators {
  margin: 0;
  bottom: -75px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.slider_section ol.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  background-color: #e62081;
  opacity: 1;
  border: none;
  margin: 0 4px;
}

.slider_section ol.carousel-indicators li.active {
  background-color: #ffffff;
}

.about_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .img_container .img-box img {
  width: 100%;
}

.about_section .detail-box {
  background-color: #ffffff;
  padding: 45px 25px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  margin-left: -45px;
}

.about_section .detail-box p {
  margin-top: 5px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #e62081;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  border-color: #e62081;
  color: #e62081;
}

.service_section {
  background-color: #1c1c1c;
}

.service_section .heading_container {
  color: #ffffff;
}

.service_section .box {
  background-color: #ffffff;
  padding: 25px 15px;
  text-align: center;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin-top: 45px;
}

.service_section .box .img-box svg {
  width: 75px;
  height: auto;
  fill: #1c1c1c;
}

.service_section .box .detail-box {
  margin-top: 25px;
}

.service_section .box .detail-box h6 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.service_section .box .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #e62081;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  margin-top: 10px;
}

.service_section .box .detail-box a:hover {
  background-color: transparent;
  border-color: #e62081;
  color: #e62081;
}

.client_section {
  text-align: center;
}

.client_section #carouselExampleControls {
  padding: 0 10%;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 45px;
}

.client_section .box .img-box {
  width: 145px;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.client_section .box .detail-box h4 {
  font-weight: bold;
  font-size: 18px;
  padding: 0 10px;
  border-bottom: 1px solid #ffffff;
}

.client_section .box .detail-box p {
  margin-top: 10px;
}

.client_section .carousel_btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-color: #1c1c1c;
  color: #ffffff;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #e62081;
}

.client_section .carousel-control-prev {
  left: 0;
}

.client_section .carousel-control-next {
  left: initial;
  right: 0;
}

/* contact section */
.contact_section {
  position: relative;
  color: #ffffff;
}

.contact_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact_section .contact_form-container {
  margin-top: 35px;
}

.contact_section .contact_form-container input {
  border: none;
  outline: none;
  color: #000000;
  height: 45px;
  width: 100%;
  margin: 15px 0;
  padding-left: 15px;
  background-color: #ffffff;
}

.contact_section .contact_form-container input::-webkit-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.contact_section .contact_form-container input:-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.contact_section .contact_form-container input::-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.contact_section .contact_form-container input::placeholder {
  color: #000000;
  text-transform: uppercase;
}

.contact_section .contact_form-container input.message_input {
  height: 120px;
}

.contact_section .contact_form-container .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}

.contact_section .contact_form-container button {
  display: inline-block;
  padding: 10px 60px;
  background-color: #e62081;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: bold;
}

.contact_section .contact_form-container button:hover {
  background-color: transparent;
  border-color: #e62081;
  color: #e62081;
}

.contact_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact_bg_box .img-box {
  width: 100%;
}

.contact_bg_box .img-box img {
  min-width: 100%;
  min-height: 100%;
}

.contact_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.7)),
    to(rgba(0, 0, 0, 0.35))
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.35)
  );
}

/* end contact section */
.team_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  margin-top: 45px;
  position: relative;
}

.team_section .box .img-box {
  width: 100%;
}

.team_section .box .img-box img {
  width: 100%;
}

.team_section .box .detail-box {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 25px 15px;
  text-align: center;
  bottom: 0;
  background-color: rgba(28, 28, 28, 0.75);
}

.team_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.team_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #e62081;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}

.team_section .btn-box a:hover {
  background-color: transparent;
  border-color: #e62081;
  color: #e62081;
}

.info_section {
  background-color: #101010;
  color: #ffffff;
  padding: 30px 0 5px 0; 
}

.info_section .row > div {
  margin-bottom: 10px;
}

.info_section h5 {
  margin-bottom: 15px;
  font-size: 18px;
}

.info_section .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.info_section .info_logo .navbar-brand {
  padding: 0;
  margin-bottom: 20px;
  font-size: 20px;
}

.info_section .info_logo .navbar-brand span {
  font-size: 24px;
  color: #ffffff;
}

.info_section .info_links ul {
  padding: 0;
}

.info_section .info_links ul li {
  list-style-type: none;
}

.info_section .info_links ul li a {
  color: #ffffff;
}

.info_section .info_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 5px;
}

.info_section .info_contact a {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
}

.info_section .info_contact a i {
  font-size: 20px;
  margin-right: 5px;
}

.info_section .info_form form input {
  outline: none;
  border: none;
  width: 100%;
  padding: 7px 10px;
  border-radius: 30px;
}

.info_section .info_form form button {
  padding: 8px 25px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #e62081;
  border-radius: 30px;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 12px; 
}

.info_section .info_form .social_box {
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_form .social_box a {
  margin-right: 10px;
  color: #ffffff;
  font-size: 20px;
}

/* footer section*/
.footer_section {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  background-color: #c06f9f;
  font-size: 12px; 
}

.footer_section p {
  color: rgba(254, 254, 255, 0.7);
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: rgba(254, 254, 255, 0.7);
}

.img-box img {
  transition: transform 0.3s ease-in-out;
}

.img-box:hover img {
  transform: scale(1.1);
}

.toast {
  flex-basis: 350px;
  max-width: 350px;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  border-radius: 0.25rem;
}

.toast:not(:last-child) {
  margin-bottom: 0.75rem;
}

.toast.showing {
  opacity: 1;
}

.toast.show {
  display: block;
  opacity: 1;
}

.toast.hide {
  display: none;
}

.toast-header {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  color: #858796;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.toast-body {
  padding: 0.75rem;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */
